nav#menu {
  display: block;
  opacity: 1;
  transition: margin-right 0.5s ease-out;
  margin-right: -100vw;
  z-index: 1001;

  background-color: transparentize($base-black, 0.1);

  position: fixed;
  height: auto;
  top: 0px;
  right: 0px;
  width: 100%;

  overflow: hidden;

  &.shown {
    opacity: 1;
    display: block;
    margin-right: 0px;
  }

  .close-menu {
    @extend .close-section-button;
  }

  ul {
    clear: both;
    float: right;
    margin-left: $sections-margin-side;
    margin-right: $sections-margin-side;
    margin-top: $menu-margin-vertical;
    display: block;
    width: 100%;
    list-style: none;

    &:last-child {
      margin-bottom: 2 * $menu-margin-vertical;
    }

    li {
      text-align: center;
      margin-top: $menu-margin-vertical;
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      a {
        @include standard_link_button(transparent, $base-white);

        margin-right: -10px;
        padding: 5px 15px;
        font-family: $title-text-font-family;
        font-size: 3em;
        line-height: 1em;
        letter-spacing: $menu-letter-spacing;

        &.active {
          background-color: $base-gray-light;
          color: $base-black;
        }

        &.action {
          background-color: $base-green;
          color: $base-black;
          font-size: 2em;
          text-transform: uppercase;
        }
      }
    }
  }
}