#portfolio {
  .new-project-content {
    float: left;
    width: 100%;
  }

  ul.new-content {
    list-style: none;
    margin: 0px;
    margin-top: 40px;
    padding: 0px;

    li {
      display: inline-block;
      padding: 0px;
      margin: 0px;
      width: 25%;
    }
  }
  .project-content-forms {
    .content-form {
      margin-top: 20px;
      display: none;

      .extra-fields {
        & > .form-group {
          width: 24%;
          max-width: 24%;
          margin-left: 1%;
          display: inline-block;

          &:first-child {
            width: 25%;
            max-width: 25%;
            margin-left: 0%;
          }
        }
      }
    }
  }
}