#portfolio {
  padding-left: 0px;
  padding-right: 0px;
  vertical-align: top;

  .project-thumb {
    display: inline-block;
    width: 100%;
    padding-top: 50%;
    position: relative;
    overflow: hidden;

    & > .item-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0%;
    }
    .info {
      display: none;
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
      top:0px;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        top:0px;
        bottom:0px;
        background-color: transparentize($base-blue-greenish, 0.1);
      }
      .name {
        display: block;
        position: relative;
        width: 80%;
        margin: auto;
        margin-top: 30%;
        border-bottom: 1px solid $base-white;

        font-family: $title-text-font-family;
        font-size: 40px;
        font-weight: normal;
        color: $base-white;
      }
      .summary {
        display: none;
      }
    }

    &:hover {
      .info {
        display: block;
      }
    }

    .images {
      position: relative;
      width: 100%;
      height: 100%;

      .thumb-image {
        background-repeat: no-repeat;
        background-position: center center;
        @include bg_size(cover);

        position: absolute;
        width: 100%;
        height: 100%;

        img {
          display: none;
        }
      }

      .logo-image {
        background-image: none !important;
        position: absolute;
        top:25%;
        bottom:25%;
        left:0px;
        right:0px;
        text-align: center;
        z-index: 9;

        img {
          max-height: 100%;
          width: auto;
          display: block;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
  }

  #new-project {
    display: inline-block;
    width: 100%;
    padding: 30px 5%;
  }

  @include mq($from: tablet) {
    .project-thumb {
      width: 50%;
      padding-top: 25%;
      margin-top: -5px;
      &:first-child, &:nth-child(2) {
        margin-top: 0px;
      }
    }

    .project-gallery.odd {
      .project-thumb {
        &:last-child {
          width: 100%;
        }
      }
    }
  }
}