#portfolio {
  .project-container {
    display: none;

    position: absolute;
    height: auto;
    top: 0px;
    right: 0px;
    min-height: 100%;
    width: 100%;

    padding: 0px;
    overflow: hidden;
    overflow-y: visible;

    &:before {
      content: "";
      position: fixed;
      display: block;
      width: 100%;
      top: 0px;
      bottom: 0px;
      padding: 0px;
      background-color: $base-gray-light;
      z-index: 2001;

      opacity: 1;
      transition: right 0.5s ease-out;
      // right: -100vw;
    }

    .list-container {
      display: block;
      width: 100%;
      max-width: 1080px;
      margin: auto;
      overflow-x: hidden;
    }

    .project-list {
      position: relative;
      z-index: 2002;
      width: 100%;
      max-width: 1080px;
      margin: auto;

      .project-item, .template {
        display: none;
        float: left;

        min-width: 100%;
        margin: 0px;
        padding: 0px;
        width: 100%;
        // left: 0px;

        &.next {
          margin-right: -100%;
          display: block;
          // position: absolute;
        }
        &.previous {
          margin-left: -100%;
          display: block;
          // position: absolute;
        }

        &.shown {
          display: block;
          // left: 0px;
          // right: 0px;
        }

        .info {
          width: 100%;
          max-width: 100%;
          float: left;
          padding-right: 10px;
          padding-left: 10px;
          text-align: center;

          & > * {
            margin-top: 20px;
            width: 100%;
            max-width: 100%;
            text-align: center;
          }

          .name, .order {
            display: block;
            text-align: left;
          }

          .summary, .title{
            width: 100%;
            max-width: 100%;
          }
          .inplace_editor_string {
            input[type="text"] {
              width: auto;
              max-width: 100%;
            }
          }
          .inplace_editor_text {
            display: block;
            textarea {
              width: 100%;
              max-width: 100%;
            }
          }
        }

        * {
          font-size: 18px;
        }

        .images {
          position: relative;
          float: left;

          .thumb-image {
            position: relative;
            height: auto;

            img {
              display: block;
              visibility: hidden;
              width: 100%;
              height: auto;
            }
          }
        }

        .contents {
          width: 100%;
          max-width: 100%;
          float: left;
          margin-top: 40px;
          padding-right: 10px;
          padding-left: 10px;
          text-align: center;

          .project_content {
            float: left;
            width: 100%;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            padding:  0px 10px;

            .sizing {
              div {
                display: inline-block;
              }
              .width, .margin {
                display: block;
              }
              .margin {
                .left {
                  float: left;
                }
                .right {
                  float: right;
                }
              }
            }

            img {
              max-width: 100%;
              height: auto;
            }
          }
        }
      }
    }

    & .actions {
      position: relative;
      z-index: 2003;
      width: 100%;
      max-width: 1080px;
      margin: auto;
      top: 30px;

      .close-project {
        @extend .close-section-button;
        float: none;
        position: absolute;
        right: 0px;
      }

      .navigation {
        position: absolute;
        top: 200px;
        top: 30vh;
      }
      .next {
        right: 20px;
      }
      .previous {
        left: 20px;
      }
    }
  }
}