$sections-margin-side: 75px;
$sections-margin-vertical: 70px;
$base-bg-header: transparent;
$base-black: #0a0a0a;
$base-white: #fff;
$base-gray-light: #f4f4f4;
$base-gray: #3d3d3d;
$base-blue: #37bcd4;
$base-blue-greenish: #13928a;
$base-green: #21ffa6;
$base-yellow: #fcca00;

$base-text-white: darken($base-white, 15%);
$menu-margin-vertical: $sections-margin-vertical;

$button-standard-font-size: 1.3em;
$button-standard-padding-bottom: 10px;
$button-standard-padding-side: 40px;

$button-main-font-size: 1.3em;
$button-main-padding-bottom: 10px;

$header-height:61px;

$body-text-font-family: 'Raleway', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
$title-text-font-family: 'Raleway', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
$title-2-text-font-family: 'Raleway', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;

$menu-letter-spacing: 0.1em;